body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header-title{
    background-color: #42a3dc;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex: 1;
}

.header-title{
    text-align: center;
    flex: 1;
}

.header{
    background-color: #42a3dc;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    padding: 20px;
}

.table-header{
    background-color: #42a3dc;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #333;
}
th {
    text-align: left;
}

.back-button {
    position: absolute;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    color: #000000;
}